---
layout: default
---

<!-- home.html -->

<div>
    <header>
        <h1>Author: My-Hung Nguyen</h1>
    </header>

    <article>
        <ul id="author-desc">
            <li>Curriculum vitae (CV) & Folio</li>
            <li>Design Research Compendiums (DRC)</li>
            <li>Project booklets (available editions)</li>
        </ul>
    </article>

    <article>
        <!-- News -->
        {% if page.news -%}
        <!-- <h2><a href="{{ '/designs/' | relative_url }}" style="color: inherit;">designs</a></h2> -->
        
        <br>
        <br>
        <h2>Projects</h2>
        <hr>

        {%- include news.html %}
         {%- endif %}
    </article>

    <article>
      {{ content }}
    </article>
</div>



